
@{
    ViewBag.Title = "About Us";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-box">
    <div id="custom-html">
        <div class="container">
        </div>
    </div>

    <div class="main-row">
        <div class="container">
            <div class="main">
                <div class="row">
                    <div class="col-md-12">
                        <div class="moduletable   mod_breadcrumbs">
                            <div class="module_content">
                                <div class="breadcrumbs ">
                                    <ol class="breadcrumb">
                                        <li class="showHere">You are here: </li>
                                        <li><a href="@Url.Action("index","home")" class="pathway">Home</a></li>
                                        <li>About Us</li>
                                    </ol>
                                </div>
                            </div>
                        </div>

                        <div class="main-content">
                            <div class="page blog-view blog-view__blog">
                                <div class="page_heading article_heading">
                                    <h1 class="page_title blog_title">
                                        About Us
                                    </h1>
                                </div>
                                <div class="articles-listing articles-listing__intro">
                                    <div class="items-row cols-1 row-0">
                                        <div class="item column-1">
                                            <p><img class="article_image" src="~/images/blog/blog8.jpg" border="0" alt="" /></p>
                                            <p><strong>Quisque dignissim quis</strong> nulla sed vehicula. Vestibulum euismod, velit quis vestibulum tempus, dolor neque convallis mi, eu dignissim lacus lacus at massa. Nullam id augue mollis, tempus lacus ac, malesuada dolor. Maecenas orci libero, <a href="#">pulvinar eu lorem eget</a>, adipiscing rutrum sapien. Proin tincidunt commodo dolor, ac rhoncus mauris vestibulum nec. Donec in iaculis ligula, at tincidunt felis. Cras vitae risus et sem tempor tincidunt et in justo. Aenean mollis condimentum semper. <em>Fusce ac arcu at</em> sapien accumsan mattis quis non elit. Nullam sodales magna augue, nec dictum diam consequat sit amet. Nunc lobortis dolor sit amet accumsan accumsan.</p>
                                            <p><em>Etiam placerat elementum purus</em>, a elementum arcu facilisis vitae. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi pretium erat a nunc mollis ornare. Maecenas id porta nisi. Phasellus non varius dolor, sed fringilla sem. Curabitur vel imperdiet arcu, id <a href="#">feugiat sapien</a>. Maecenas posuere tincidunt molestie. Nunc convallis hendrerit nunc quis mattis.</p>
                                            <p><strong>Vivamus nec lacinia dui</strong>, et placerat elit. Phasellus sit amet pellentesque neque. Vivamus lacinia lectus a aliquet tempus. Vestibulum tempus vel lectus eu porttitor. Cras ac justo arcu. Donec dictum magna et mattis elementum. Phasellus feugiat sapien magna, <a href="#">quis ullamcorper</a> enim iaculis egestas. Suspendisse potenti. Praesent non erat malesuada, dictum sapien non, tristique risus. Praesent commodo purus eu risus mattis, at gravida massa vehicula. Fusce ullamcorper purus quam. Donec sagittis cursus magna, eget sagittis massa aliquam in. Quisque lectus arcu, lacinia ut neque nec, lacinia imperdiet neque.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
