
@{
    ViewBag.Title = "Our Services";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-box">
    <div id="custom-html">
        <div class="container">
        </div>
    </div>

    <div class="main-row">
        <div class="container">
            <div class="main">
                <div class="row">
                    <div class="col-md-12">

                        <div class="moduletable   mod_breadcrumbs">
                            <div class="module_content">
                                <div class="breadcrumbs ">
                                    <ol class="breadcrumb">
                                        <li class="showHere">You are here: </li>
                                        <li><a href=""@Url.Action("index","home")" class="pathway">Home</a></li>
                                        <li>Our Services</li>
                                    </ol>
                                </div>
                            </div>
                        </div>

                        <div class="main-content">
                            <div class="page article-view article-view__">
                                <div class="page_heading article_heading">
                                    <h2 class="view-item-title article_title">
                                        Our Services
                                    </h2>
                                </div>
                                <div class="article_text">
                                    <div class="clearfix">
                                        <div class="fa fa-hand-o-right"> </div>
                                        <div class="extra-wrap">
                                            <h5>Excepteur sint occaecat cupidatat non proident</h5>
                                            <p>Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
                                        </div>
                                    </div>
                                    <div class="clearfix">
                                        <div class="fa fa-clock-o"> </div>
                                        <div class="extra-wrap">
                                            <h5>Lorem ipsum dolor sit amet</h5>
                                            <p>Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
                                        </div>
                                    </div>
                                    <div class="clearfix">
                                        <div class="fa fa-gift"> </div>
                                        <div class="extra-wrap">
                                            <h5>conse ctetur adipisicing elit sed do eiusmod tempor incididunt ut labore et</h5>
                                            <p>Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
                                        </div>
                                    </div>
                                    <div class="clearfix">
                                        <div class="fa fa-refresh"> </div>
                                        <div class="extra-wrap">
                                            <h5>Excepteur sint occaecat cupidatat non</h5>
                                            <p>Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
                                        </div>
                                    </div>
                                    <div class="clearfix">
                                        <div class="fa fa-truck"> </div>
                                        <div class="extra-wrap">
                                            <h5>proident sunt in culpa qui offici</h5>
                                            <p>Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

